# /etc/exports: the access control list for filesystems which may be exported
#               to NFS clients.  See exports(5).
#
{{ hostvars[inventory_hostname].mnt }}     192.168.100.0/24(rw,sync,no_subtree_check,no_root_squash)